<header>
    <nav class="bg-teal-700 p-4 tui-text_body-m-2">

        
          
          <div class="hidden md:flex items-center justify-center flex-1">
            <a href="/home" class="flex items-center space-x-2 rtl:space-x-reverse">
                <img src="https://cdn0.iconfinder.com/data/icons/game-development-filloutline/64/TESTING-clipboard-check_list-gaming-game_development-512.png" class="h-8" alt="Flowbite Logo" />
                <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Medialog</span>
              </a>
    
            <div class="max-w-7xl mx-auto px-4 flex justify-between items-center">
            <ul class="ml-4 flex space-x-4">
              <li><a href="#" class="text-white hover:text-gray-300">Home</a></li>
              <li><a href="#" class="text-white hover:text-gray-300">Movies</a></li>
              <li><a href="#" class="text-white hover:text-gray-300">Series</a></li>
              <li><a href="#" class="text-white hover:text-gray-300">Anime</a></li>
              <li><a href="#" class="text-white hover:text-gray-300">Games</a></li>
              <li><a href="#" class="text-white hover:text-gray-300">Books</a></li>
            </ul>
          </div>
          <div>
            <tui-avatar text="Yulia Tsareva" class="tui-space_top-1"></tui-avatar>
          </div>
        </div>
      </nav>

</header>
