<section class="text-neutral-200 body-font overflow-hidden">
    <div class="container px-5 py-24 mx-auto">
      <div class="lg:w-4/5 mx-auto flex flex-wrap">
        <img alt="poster" class="lg:size-2/5 w-full object-cover object-center rounded border" [src]="animeDetails.main_picture.large">
        <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
          <h1 class="text-neutral-200 text-3xl title-font font-medium mb-1">{{animeDetails.title}}</h1>
          <div class="flex mb-4">
            
            
          </div>
          <p class="leading-relaxed">{{animeDetails.synopsis}}</p>
          <div class="flex mt-6 items-center pb-5 border-b-2 border-gray-200 mb-5">
            
           
          </div>
          <div class="flex items-center">
            <button class="flex mx-[40%] w-full  font-semibold text-white bg-emerald-800 border-0 py-2 px-12 focus:outline-none hover:bg-emerald-400 rounded">Log</button>
            
          </div>
        </div>
      </div>
    </div>
  </section>