<div class="container px-20 mt-14 mb-20">
    <p class="font-semibold text-2xl my-3 ml-3">{{title}}</p>
    <div #swiperContainer class="swiper-container">
        <div class="swiper-wrapper">
            @for (item of contents; track item) {
            <div (mouseenter)="setHoverElement(item)" (mouseleave)="clearHoverElement()" class="swiper-slide relative">
                <img [src]="item.poster_url || item.node.main_picture.large" alt="" />
                @if ((item.title === this.selectedContent) || (item.name === this.selectedContent)) {
                <div @fade class="desc p-2">
                    <span class="text-base flex flex-wrap font-bold">{{item.title || item.name || item.node.title}}</span>
                    @if(item.overview || item.author[0].name || !item.node){
                        <p class="text-xs my-3">{{item.overview || item.author[0].name | description:150}}</p>
                    }                    
                    <div class="py-3 absolute w-[90%] bottom-1">
                        <p class="text-xs flex justify-between items-center">
                            @if (item.ranking) {
                                <span class="text-3xl text-yellow-500">Ranking : {{item.ranking.rank}}</span>
                            }@else{
                                <span class="">Publish date : {{item.publish_date || item.release_date}}</span>
                            <i class="fa fa-2x fa-chevron-circle-down" aria-hidden="true"></i>
                            }
                            
                        </p>
                    </div>
                </div>

                }
            </div>
            }

        </div>
    </div>

</div>
